In [27]:
import pandas as pd

# Define column names for ProductionManager table
ProductionManager_columns = ['PManagerID', 'PManagerName', 'PManagerDOB', 
                             'PManagerAge', 'PManagerGender', 'PManagerEmail', 
                             'PManagerPhoneNumber', 'PManagerCreatedDate', 'IsActive']

# Create an empty DataFrame with the specified column names
df = pd.DataFrame(columns=ProductionManager_columns)

# Display the empty DataFrame
df

Empty DataFrame
Columns: [PManagerID, PManagerName, PManagerDOB, PManagerAge, PManagerGender, PManagerEmail, PManagerPhoneNumber, PManagerCreatedDate, IsActive]
Index: []

In [28]:
import pandas as pd
from faker import Faker

fake = Faker(use_weighting=True,locale='en_US')

In [29]:
ids= []
for i in range(0,10):
   ids.append(i+1)

df['PManagerID'] = ids
df

,PManagerID,PManagerName,PManagerDOB,PManagerAge,PManagerGender,PManagerEmail,PManagerPhoneNumber,PManagerCreatedDate,IsActive
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
import random 
names = []
genders = []
address = []
passwords = []
for i in range(0,10):
    num = random.randint(1,2)
    if (num == 1):
        names.append(fake.first_name_male() +" "+ fake.last_name())
        genders.append("M")
    else:
        names.append(fake.first_name_female() +" "+ fake.last_name())
        genders.append("F")
    # temp = fake.address()
    # temp = temp.replace("\n"," ")
    # temp = temp.replace(",", "")
    # address.append(temp)
    passwords.append(fake.password())

df['PManagerName'] = names
df['PManagerGender'] = genders
# df['player_address'] = address
# df['player_password'] = passwords

df

,PManagerID,PManagerName,PManagerDOB,PManagerAge,PManagerGender,PManagerEmail,PManagerPhoneNumber,PManagerCreatedDate,IsActive
0,1,Shannon Jones,NaN,NaN,F,NaN,NaN,NaN,NaN
1,2,Christopher Perez,NaN,NaN,M,NaN,NaN,NaN,NaN
2,3,Garrett Hutchinson,NaN,NaN,M,NaN,NaN,NaN,NaN
3,4,Carol Davenport,NaN,NaN,F,NaN,NaN,NaN,NaN
4,5,Laura James,NaN,NaN,F,NaN,NaN,NaN,NaN
5,6,Crystal Fleming,NaN,NaN,F,NaN,NaN,NaN,NaN
6,7,Erika King,NaN,NaN,F,NaN,NaN,NaN,NaN
7,8,Jeremy Fox,NaN,NaN,M,NaN,NaN,NaN,NaN
8,9,Benjamin Proctor,NaN,NaN,M,NaN,NaN,NaN,NaN
9,10,Kara Smith,NaN,NaN,F,NaN,NaN,NaN,NaN

In [32]:
import random
import string

def generate_email(name):
    domain = "@gmail.com" 
    name = name.replace(' ','')
    random_part = ''.join(random.choices(string.ascii_lowercase + string.digits, k=3))
    return name.lower() + '.' + random_part + domain


df['PManagerEmail'] = df['PManagerName'].apply(generate_email)

df

,PManagerID,PManagerName,PManagerDOB,PManagerAge,PManagerGender,PManagerEmail,PManagerPhoneNumber,PManagerCreatedDate,IsActive
0,1,Shannon Jones,NaN,NaN,F,shannonjones.rkk@gmail.com,NaN,NaN,NaN
1,2,Christopher Perez,NaN,NaN,M,christopherperez.ydi@gmail.com,NaN,NaN,NaN
2,3,Garrett Hutchinson,NaN,NaN,M,garretthutchinson.rg5@gmail.com,NaN,NaN,NaN
3,4,Carol Davenport,NaN,NaN,F,caroldavenport.7uv@gmail.com,NaN,NaN,NaN
4,5,Laura James,NaN,NaN,F,laurajames.x7z@gmail.com,NaN,NaN,NaN
5,6,Crystal Fleming,NaN,NaN,F,crystalfleming.br0@gmail.com,NaN,NaN,NaN
6,7,Erika King,NaN,NaN,F,erikaking.dhc@gmail.com,NaN,NaN,NaN
7,8,Jeremy Fox,NaN,NaN,M,jeremyfox.mve@gmail.com,NaN,NaN,NaN
8,9,Benjamin Proctor,NaN,NaN,M,benjaminproctor.890@gmail.com,NaN,NaN,NaN
9,10,Kara Smith,NaN,NaN,F,karasmith.jh9@gmail.com,NaN,NaN,NaN

In [33]:
import random

dates = []
for i in range(0,10):
    mm = random.randint(1,12)
    yy = random.randint(1995,2001)
    dd = random.randint(1,28)
    dates.append(f"{dd}-{mm}-{yy}")

df['PManagerDOB'] = dates

df

,PManagerID,PManagerName,PManagerDOB,PManagerAge,PManagerGender,PManagerEmail,PManagerPhoneNumber,PManagerCreatedDate,IsActive
0,1,Shannon Jones,25-12-2001,NaN,F,shannonjones.rkk@gmail.com,NaN,NaN,NaN
1,2,Christopher Perez,6-4-1999,NaN,M,christopherperez.ydi@gmail.com,NaN,NaN,NaN
2,3,Garrett Hutchinson,24-1-2001,NaN,M,garretthutchinson.rg5@gmail.com,NaN,NaN,NaN
3,4,Carol Davenport,16-1-1999,NaN,F,caroldavenport.7uv@gmail.com,NaN,NaN,NaN
4,5,Laura James,22-11-2000,NaN,F,laurajames.x7z@gmail.com,NaN,NaN,NaN
5,6,Crystal Fleming,2-6-2000,NaN,F,crystalfleming.br0@gmail.com,NaN,NaN,NaN
6,7,Erika King,21-7-2001,NaN,F,erikaking.dhc@gmail.com,NaN,NaN,NaN
7,8,Jeremy Fox,2-2-1997,NaN,M,jeremyfox.mve@gmail.com,NaN,NaN,NaN
8,9,Benjamin Proctor,7-10-1995,NaN,M,benjaminproctor.890@gmail.com,NaN,NaN,NaN
9,10,Kara Smith,14-2-1995,NaN,F,karasmith.jh9@gmail.com,NaN,NaN,NaN

In [34]:
import random

dates = []
for i in range(0,10):
    mm = random.randint(1,12)
    yy = random.randint(2015,2024)
    dd = random.randint(1,28)
    dates.append(f"{dd}-{mm}-{yy}")

df['PManagerCreatedDate'] = dates

df

,PManagerID,PManagerName,PManagerDOB,PManagerAge,PManagerGender,PManagerEmail,PManagerPhoneNumber,PManagerCreatedDate,IsActive
0,1,Shannon Jones,25-12-2001,NaN,F,shannonjones.rkk@gmail.com,NaN,16-5-2020,NaN
1,2,Christopher Perez,6-4-1999,NaN,M,christopherperez.ydi@gmail.com,NaN,6-1-2017,NaN
2,3,Garrett Hutchinson,24-1-2001,NaN,M,garretthutchinson.rg5@gmail.com,NaN,13-4-2015,NaN
3,4,Carol Davenport,16-1-1999,NaN,F,caroldavenport.7uv@gmail.com,NaN,21-4-2018,NaN
4,5,Laura James,22-11-2000,NaN,F,laurajames.x7z@gmail.com,NaN,7-6-2017,NaN
5,6,Crystal Fleming,2-6-2000,NaN,F,crystalfleming.br0@gmail.com,NaN,21-4-2024,NaN
6,7,Erika King,21-7-2001,NaN,F,erikaking.dhc@gmail.com,NaN,8-1-2023,NaN
7,8,Jeremy Fox,2-2-1997,NaN,M,jeremyfox.mve@gmail.com,NaN,6-4-2024,NaN
8,9,Benjamin Proctor,7-10-1995,NaN,M,benjaminproctor.890@gmail.com,NaN,4-9-2022,NaN
9,10,Kara Smith,14-2-1995,NaN,F,karasmith.jh9@gmail.com,NaN,22-9-2015,NaN

In [35]:
import random
import datetime

# Generate random dates
dates = []
current_date = datetime.datetime.now()

for i in range(0, 10):
    dobyear = df.loc[i, 'PManagerDOB']
    dyear= int(dobyear.split("-")[2])    
    yy = current_date.year
    age = yy - dyear    
    dates.append(age)

df['PManagerAge'] = dates

df

,PManagerID,PManagerName,PManagerDOB,PManagerAge,PManagerGender,PManagerEmail,PManagerPhoneNumber,PManagerCreatedDate,IsActive
0,1,Shannon Jones,25-12-2001,23,F,shannonjones.rkk@gmail.com,NaN,16-5-2020,NaN
1,2,Christopher Perez,6-4-1999,25,M,christopherperez.ydi@gmail.com,NaN,6-1-2017,NaN
2,3,Garrett Hutchinson,24-1-2001,23,M,garretthutchinson.rg5@gmail.com,NaN,13-4-2015,NaN
3,4,Carol Davenport,16-1-1999,25,F,caroldavenport.7uv@gmail.com,NaN,21-4-2018,NaN
4,5,Laura James,22-11-2000,24,F,laurajames.x7z@gmail.com,NaN,7-6-2017,NaN
5,6,Crystal Fleming,2-6-2000,24,F,crystalfleming.br0@gmail.com,NaN,21-4-2024,NaN
6,7,Erika King,21-7-2001,23,F,erikaking.dhc@gmail.com,NaN,8-1-2023,NaN
7,8,Jeremy Fox,2-2-1997,27,M,jeremyfox.mve@gmail.com,NaN,6-4-2024,NaN
8,9,Benjamin Proctor,7-10-1995,29,M,benjaminproctor.890@gmail.com,NaN,4-9-2022,NaN
9,10,Kara Smith,14-2-1995,29,F,karasmith.jh9@gmail.com,NaN,22-9-2015,NaN

In [36]:
import random
phone_number = []

for i in range(0,10):
    area_code = random.randint(100, 999)
    prefix = random.randint(100, 999)
    line_number = random.randint(1000, 9999)
    phone_number.append(f"{area_code}-{prefix}-{line_number}")

df['PManagerPhoneNumber'] = phone_number
df

,PManagerID,PManagerName,PManagerDOB,PManagerAge,PManagerGender,PManagerEmail,PManagerPhoneNumber,PManagerCreatedDate,IsActive
0,1,Shannon Jones,25-12-2001,23,F,shannonjones.rkk@gmail.com,908-750-7403,16-5-2020,NaN
1,2,Christopher Perez,6-4-1999,25,M,christopherperez.ydi@gmail.com,400-436-6672,6-1-2017,NaN
2,3,Garrett Hutchinson,24-1-2001,23,M,garretthutchinson.rg5@gmail.com,367-266-6107,13-4-2015,NaN
3,4,Carol Davenport,16-1-1999,25,F,caroldavenport.7uv@gmail.com,595-956-3738,21-4-2018,NaN
4,5,Laura James,22-11-2000,24,F,laurajames.x7z@gmail.com,340-833-3510,7-6-2017,NaN
5,6,Crystal Fleming,2-6-2000,24,F,crystalfleming.br0@gmail.com,386-811-4187,21-4-2024,NaN
6,7,Erika King,21-7-2001,23,F,erikaking.dhc@gmail.com,566-607-2836,8-1-2023,NaN
7,8,Jeremy Fox,2-2-1997,27,M,jeremyfox.mve@gmail.com,377-504-9715,6-4-2024,NaN
8,9,Benjamin Proctor,7-10-1995,29,M,benjaminproctor.890@gmail.com,411-683-4554,4-9-2022,NaN
9,10,Kara Smith,14-2-1995,29,F,karasmith.jh9@gmail.com,131-853-1779,22-9-2015,NaN

In [37]:
#randomly assign IsActive as True or False
is_active = []
for i in range(0,10):
    is_active.append(random.choice([True, False]))
df['IsActive'] = is_active
df

,PManagerID,PManagerName,PManagerDOB,PManagerAge,PManagerGender,PManagerEmail,PManagerPhoneNumber,PManagerCreatedDate,IsActive
0,1,Shannon Jones,25-12-2001,23,F,shannonjones.rkk@gmail.com,908-750-7403,16-5-2020,True
1,2,Christopher Perez,6-4-1999,25,M,christopherperez.ydi@gmail.com,400-436-6672,6-1-2017,True
2,3,Garrett Hutchinson,24-1-2001,23,M,garretthutchinson.rg5@gmail.com,367-266-6107,13-4-2015,True
3,4,Carol Davenport,16-1-1999,25,F,caroldavenport.7uv@gmail.com,595-956-3738,21-4-2018,True
4,5,Laura James,22-11-2000,24,F,laurajames.x7z@gmail.com,340-833-3510,7-6-2017,True
5,6,Crystal Fleming,2-6-2000,24,F,crystalfleming.br0@gmail.com,386-811-4187,21-4-2024,False
6,7,Erika King,21-7-2001,23,F,erikaking.dhc@gmail.com,566-607-2836,8-1-2023,False
7,8,Jeremy Fox,2-2-1997,27,M,jeremyfox.mve@gmail.com,377-504-9715,6-4-2024,True
8,9,Benjamin Proctor,7-10-1995,29,M,benjaminproctor.890@gmail.com,411-683-4554,4-9-2022,True
9,10,Kara Smith,14-2-1995,29,F,karasmith.jh9@gmail.com,131-853-1779,22-9-2015,False

In [38]:
df.to_csv('Data/ProductionManager.csv',index=False)